<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Ngx-Neo-Completer
    </h1>
  </div>
  <h2>Here are some usage examples: </h2>

  <!-- <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="exampleInput">Value</label>
        <neo-completer class="completer-limit" [inputClass]="'form-control'" [inputId]="'exampleInput'"
          [inputName]="'exampleInput'" name="autocomplete" [openOnFocus]="true" [openOnClick]="false"
          [fillHighlighted]="false" [autoHighlight]="true" [autoSelectOnEnter]="false" (selected)="onSelected($event)"
          [clearSelected]="false" [textNoResults]="'Sin resultados'" (keydown)="onKeyDown($event)"
          [placeholder]="'Write a name'" [disabled]="false" [autofocus]="true" [(ngModel)]="searchStr"
          [datasource]="searchData" [minSearchLength]="0">
        </neo-completer>
      </div>
    </div>
  </div> -->

  <form #testForm="ngForm">
    <input matInput [autofocus]="true"/>
    <div class="form-group">
      <neo-completer-mat name='autocomplete1' (selected)="onSelected($event)" [clearSelected]="false" required disabled="true"
        [appearance]="'outline'" [placeholder]="'Write a name'" [(ngModel)]="searchStr"
        [datasource]="searchData" [minSearchLength]="2" [form]="testForm">
      </neo-completer-mat>
      <neo-completer-mat name='autocomplete2' (selected)="onSelected($event)" [clearSelected]="false" required
        [appearance]="'outline'" [placeholder]="'Write a name'" [(ngModel)]="searchStr1"
        [datasource]="searchData" [minSearchLength]="2" [form]="testForm">
      </neo-completer-mat>
    </div>
    <button (click)="checkValid()">Mark all</button>
    <p>{{testForm.valid}}</p>
  </form>

  <neo-completer-mat name='autocomplete3' (selected)="onSelected($event)" [clearSelected]="false" 
    [appearance]="'outline'" [placeholder]="'Write a name'" [(ngModel)]="searchStr1" disabled="true"
    [datasource]="searchData" [minSearchLength]="2">
  </neo-completer-mat>

</div>
