<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Ngx-Neo-Completer
    </h1>
  </div>
  <h2>Here are some usage examples: </h2>
  
<!--   <div class="form-group">
    <label for="exampleInput">Value</label>
    <neo-completer name='autocomplete' (selected)="onSelected($event)" [clearSelected]="true" [placeholder]="'Write a name'"
    [autofocus]="true" [inputClass]="'form-control'" [(ngModel)]="searchStr" [datasource]="searchData" [minSearchLength]="3"></neo-completer>
  </div> -->

  <div class="form-group">
    <neo-completer-mat name='autocomplete' (selected)="onSelected($event)" [clearSelected]="true"
      [placeholder]="'Write a name'" [autofocus]="true" [(ngModel)]="searchStr" [datasource]="searchData"
      [minSearchLength]="3"></neo-completer-mat>
  </div>

  </div>